dolgozat.aux
dolgozat.log
dolgozat.synctex.gz
dolgozat.thm
dolgozat.toc
dolgozat.out

cimlap.aux
feladatkiiras.aux
hasznalati.aux

1_introduction.aux
2_concept.aux
3_design.aux
4_implementation.aux
5_test.aux
6_summary.aux